<%= form_tag '/scores', method: :post do %>
<div>
  
<% k = 0 %>
<% @questions.each do |question| %>
  <%= question["q_text"] %>
  <br>
  <%=radio_button_tag(:k,"a") %>
  <%=label_tag(k, "#{question["q_options_1"]}")%>
  <br> 
  <%=radio_button_tag(:k,"b") %>
  <%=label_tag(k, "#{question["q_options_2"]}")%>
  <br> 
  <%=radio_button_tag(:k,"c") %>
  <%=label_tag(k, "#{question["q_options_3"]}")%>
  <br> 
  <%=radio_button_tag(:k,"d") %>
  <%=label_tag(k, "#{question["q_options_4"]}")%> 
  <br>
  <%=question["q_correct_option"]%>
  <br>
<% k+=1 %>
<% end %>
<%= submit_tag "Finished" %>
</div>
<% end %>