form_tag
<% @questions.each do |question| %>
  <p> <%=question["q_text"]%> </p>
  <p> a. <%=question["q_options_1"]%> </p>
  <p> b. <%=question["q_options_2"]%> </p>
  <p> c. <%=question["q_options_3"]%> </p>
  <p> d. <%=question["q_options_4"]%> </p>
  <br>
  <br>
<% end %>




