<!DOCTYPE html>
<html>
<head>
  <title>Trivia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href="/users/sign_up">Sign Up</a>
<a href="/users/sign_in">Sign In</a>
<%= link_to "Sign Out", "/users/sign_out", method: :delete %>

<%= yield %>

</body>
</html>
